@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-weight: 450;
  letter-spacing: .1em; }

header {
  padding: 15px;
  background-color: #fff;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1; }

.barraNav a {
  font-family: "Poppins", sans-serif;
  letter-spacing: .025em;
  font-weight: 400; }

.flex-nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* animacion barra nav */
.barraNav a {
  position: relative; }
  .barraNav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out; }

.barraNav a:hover::before {
  transform: scaleX(1); }

.barraNav[data-animation="to-left"] a::before {
  transform-origin: right; }

.barraNav[data-animation="center"] a::before {
  transform-origin: center; }

footer {
  padding: 60px;
  padding-bottom: 7px;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #e0d9cc;
  font-size: 13px; }
  footer .copyR {
    text-align: center; }

.grillaIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "banner banner banner" "logo logo logo" "header header header" "main main main" "iconos iconos iconos" "novedades novedades novedades" "footer footer footer"; }

.bannerInformativo {
  grid-area: banner; }

.logo {
  grid-area: logo; }

.gridHeader {
  grid-area: header; }

main {
  grid-area: main; }

.gridIconos {
  grid-area: iconos; }

.novedades {
  grid-area: novedades; }

.gridFooter {
  grid-area: footer; }

.bannerInformativo {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center; }

.logo {
  padding: 10px;
  display: flex;
  justify-content: center; }

.mainIndex {
  margin: 0px auto;
  width: 83%; }

/* animacion banner informativo */
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

section {
  padding: 60px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px; }

.h2Iconos {
  padding: 0px; }

@media (max-width: 1080px) {
  section {
    flex-direction: column; }
  .icono {
    margin-bottom: 60px; } }

.productosP {
  padding: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 70px; }

.imgAll, .imgAccesorios, .imgOutlet, .imgGift {
  width: 400px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08); }

.nameProduct {
  margin-top: 1rem; }

.precioProduct {
  margin-bottom: 1rem;
  font-weight: bold; }

.btnComprar {
  padding: 15px;
  width: auto; }

.containerProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 0px; }

.mainProductos {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgAll img, .imgAccesorios img, .imgOutlet img, .imgGift img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .tituloProductos h2 {
    font-size: 30px; }
  .imgAll, .imgAccesorios, .imgOutlet, .imgGift {
    width: 320px; } }

@media (max-width: 768px) {
  .tituloProductos h2 {
    font-size: 30px; }
  .imgAll, .imgAccesorios, .imgOutlet, .imgGift {
    width: 260px; } }

@media (max-width: 576px) {
  .tituloProductos h2 {
    font-size: 30px; }
  .imgAll, .imgAccesorios, .imgOutlet, .imgGift {
    width: 300px; }
  .productosP {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

@media (max-width: 480px) {
  .tituloProductos h2 {
    font-size: 30px; }
  .imgAll, .imgAccesorios, .imgOutlet, .imgGift {
    width: 300px; }
  .productosP {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

.accesoriosP {
  padding: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 70px; }

.containerAccesorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 0px; }

.mainAccesorios {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgAccesorios img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .tituloAccesorios h2 {
    font-size: 30px; }
  .imgAccesorios {
    width: 320px; } }

@media (max-width: 768px) {
  .tituloAccesorios h2 {
    font-size: 30px; }
  .imgAccesorios {
    width: 260px; } }

@media (max-width: 576px) {
  .tituloAccesorios h2 {
    font-size: 30px; }
  .imgAccesorios {
    width: 300px; }
  .accesoriosP {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

@media (max-width: 480px) {
  .tituloAccesorios h2 {
    font-size: 30px; }
  .imgAccesorios {
    width: 300px; }
  .accesoriosP {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

.productosOutlet {
  padding: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 70px; }

.contaienrOutlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 0px; }

.mainOutlet {
  display: flex;
  justify-content: center;
  align-items: center; }

.sinNegrita {
  font-weight: normal; }

.imgOutlet img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .tituloOutlet h2 {
    font-size: 30px; }
  .imgOutlet {
    width: 320px; } }

@media (max-width: 768px) {
  .tituloOutlet h2 {
    font-size: 30px; }
  .imgOutlet {
    width: 260px; } }

@media (max-width: 576px) {
  .tituloOutlet h2 {
    font-size: 30px; }
  .imgOutlet {
    width: 300px; }
  .productosOutlet {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

@media (max-width: 480px) {
  .tituloOutlet h2 {
    font-size: 30px; }
  .imgOutlet {
    width: 300px; }
  .productosOutlet {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

.giftCard {
  padding: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 70px; }

.cointainerGift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 0px; }

.mainGift {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgGift img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .tituloGift h2 {
    font-size: 30px; }
  .imgGift {
    width: 320px; } }

@media (max-width: 768px) {
  .tituloGift h2 {
    font-size: 30px; }
  .imgGift {
    width: 260px; } }

@media (max-width: 576px) {
  .tituloGift h2 {
    font-size: 30px; }
  .imgGift {
    width: 300px; }
  .giftCard {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

@media (max-width: 480px) {
  .tituloGift h2 {
    font-size: 30px; }
  .imgGift {
    width: 300px; }
  .giftCard {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; } }

.containerContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 50px;
  margin-top: 0px;
  margin-left: 18%;
  margin-right: 18%;
  font-family: "Poppins", sans-serif; }

.textContacto {
  margin-bottom: 17px;
  margin-top: 10px; }

@media (max-width: 1311px) {
  .containerContacto {
    margin: 50px;
    margin-top: 0px;
    margin-left: 9%;
    margin-right: 9%; } }
