.grillaIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "banner banner banner"
    "logo logo logo"
    "header header header"
    "main main main"
    "iconos iconos iconos"
    "novedades novedades novedades"
    "footer footer footer"
    ;
}

.bannerInformativo{
    grid-area: banner;
}

.logo {
    grid-area: logo;
}

.gridHeader{
    grid-area: header;
}

main{
    grid-area: main;
}

.gridIconos{
    grid-area: iconos;
}

.novedades{
    grid-area: novedades;
}

.gridFooter{
    grid-area: footer;
    
}

.bannerInformativo{
    padding: 7px;
    background-color: $clr-black;
    color: #e0d9cc;
    font-family: $ff-all;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 140px;
}

.mainIndex{
    margin: 0px auto;
    width: 83%;
}


/* animacion banner informativo */


.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
    letter-spacing: 1em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    letter-spacing: normal;
    opacity: 1;
    }
}
@keyframes tracking-in-contract {
    0% {
    letter-spacing: 1em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    letter-spacing: normal;
    opacity: 1;
    }
}


section{
    padding: 60px;
    font-family: $ff-all ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.h2Iconos{
    padding: 0px;
}


@media (max-width: 1080px){

    section{
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

    .icono{
        margin-bottom: 60px;
    }

}

@media (max-width: 480px){
    .logo{
        margin-left: 30px;
    }
}
