footer{
    padding: 60px;
    padding-bottom: 7px;
    background-color: $clr-black;
    font-family: $ff-all;
    color: $clr-beige;
    font-size: 13px;
    .copyR{
        text-align: center;
    }
}